@font-face {
  font-family: 'Strangelove';
  src: url('../public/fonts/strangelove/Strangelove\ Text\ W00\ Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
